<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">组织机构</h1>
</div>
<div class="wrapper-md" ng-controller="OrgCtrl">
    <!-- toaster directive -->
    <toaster-container toaster-options="{'position-class': 'toast-top-full-width', 'close-button':true}"></toaster-container>
    <!-- / toaster directive -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <button class="btn m-b-xs w-xs btn-dark" ng-click="launch()">添加</button>
            <button class="btn m-b-xs w-xs btn-dark" ng-click="delete()">删除</button>
            <button class="btn m-b-xs w-xs btn-dark" ng-click="update()">更新</button>
        </div>
        <div class="table-responsive">
            <div ui-grid="gridOptions" ui-grid-edit ui-grid-pagination
                 ui-grid-selection ui-grid-exporter ui-grid-resize-columns ui-grid-auto-resize style="min-height:750px"></div>
        </div>
    </div>
</div>